version: 2

updates:
  - package-ecosystem: "bundler"
    directory: "/"
    schedule:
      interval: "weekly"
    reviewers:
      - "CargoSense/ruby-reviewers"
  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: "weekly"
    reviewers:
      - "CargoSense/dx-reviewers"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    reviewers:
      - "CargoSense/dx-reviewers"
      - "CargoSense/ruby-reviewers"
