name: CI

on:
  pull_request:
  push:
    branches: [main]
  schedule:
    - cron: "0 12 * * 2"
  workflow_call:
  workflow_dispatch:

jobs:
  test:
    name: Ruby ${{ matrix.ruby }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [3.3, 3.4]
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: ${{ matrix.ruby }}
      - name: RuboCop version
        run: bundle info rubocop | head -1
      - run: bundle exec rake
  oldest_supported_rubocop:
    name: Oldest supported RuboCop version
    runs-on: ubuntu-latest
    env:
      BUNDLE_FROZEN: false
    steps:
      - uses: actions/checkout@v5
      - name: Use the oldest supported RuboCop
        run: |
          cat << EOF > Gemfile.local
            gem "rubocop", "1.73"
            gem "rubocop-capybara", "2.22"
            gem "rubocop-factory_bot", "2.27"
            gem "rubocop-performance", "1.24"
            gem "rubocop-rails", "2.30"
            gem "rubocop-rake", "0.7.1"
            gem "rubocop-rspec", "3.5"
            gem "rubocop-rspec_rails", "2.31"
          EOF
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: RuboCop version
        run: bundle info rubocop | head -1
      - run: bundle exec rake
